/* font face */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/material/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../assets/material/MaterialIcons-Regular.woff2) format('woff2'),
    url(../assets/material/MaterialIcons-Regular.woff) format('woff'),
    url(../assets/material/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
/* end */

/* color BC */

.bc-blue {
    color: #169aca !important;
}

.bc-blue-bg {
    background-color: #169aca !important;
}

.bc-red-bg {
    background-color: #d32f2f !important;
}

.bc-green-bg {
    background-color: #00897b !important;
}

.bc-yellow-bg {
    background-color: #fbc02d  !important;
}

.bc-grey {
    color: #343333 !important;
}

/* end color BC */

/* general css */
body, h6, h5, h4, h3, h2, h1, p {
    color: rgba(0,0,0,0.7);
}

header, main, footer {
    padding-left: 300px;
    padding-top: 64px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
        padding-top: 64px;
    }
}
.container {
    width: 95% !important;
    max-width: 100% !important;
}

@media only screen and (min-width: 993px){
    nav a.sidenav-trigger {
        display: block;
    }
}

@media only screen and (max-width: 993px) {
    .sidenav {
        top: 56px !important;
    }
}

nav {
    z-index: 999 !important;
    position: fixed;
}

.sidenav {
    top: 64px;
    z-index: 2 !important
}

.sidenav-overlay {
    background-color: transparent;
    z-index: 1;
}

.brand-logo {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.btn-add {
    margin: 1.0933333333rem 0 .656rem 0;
}

@media only screen and (min-width: 993px) {
    .brand-logo {
        left: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        float: left;
    }
}

.label {
    color: #9e9e9e;
    font-size: 1rem;
}
/* end */

/* login css */
.backdrop-img {
    padding: 0 !important;
}

.login .card {
    box-shadow: none;
    top: 50%;
    transform: translateY(-50%);
}

.login .card .card-content .card-title h5 {
    font-weight: bold;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #169aca;
    box-shadow: 0 1px 0 0 #169aca;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: #169aca;
}

.login .input-field>label {
    padding-left: 5px;
}

.login input {
    text-indent: 5px;
}

.login [type="checkbox"]+span:not(.lever) {
    line-height: 20px;
}

.login [type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid #169aca;
    background-color: #169aca;
}

.caption {
    position: absolute;
    width: inherit;
    top: 50%;
    background-color: rgba(0,0,0, .2);
    height: 150px;
    transform: translateY(-50%);
}

.caption h4 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-weight: 300;
    text-align: center;
    margin: 0 !important;
}
.logo-login{
  position: absolute;
  margin:  10px;
}
.logo-login img{
  width: 30%;
}
/* end login css */

/* register css */

.register .card {
    box-shadow: none;
}

/* end register css */

.regis .row{
  margin: 0px;
}
.regis .input-field{
  margin-top: 0px;
}
/*Navigastion Css*/
li .img-nav{
  margin:20px;
  left: 10%;
}
.img-nav {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}
.img-nav img{
  width: 100%;
  height: auto;
}
.collapsible-header i{
  margin-left: 15px;
}
.collapsible-body {
  margin-left: 15px;
}
/*end Navigastion Css*/

/* btn class */
.action li a{
    margin:5px;
}
.action li{
    display:inline;
}
/* end btn class */
